* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(17, 26, 35, 0.2);
  width: 100vw;
  height: 100vh;
}
.menu {
  display: flex;
  gap: 1em;

  flex-direction: row;
  height: 420px;
  width: 520px;
  max-height: 420px;
  max-width: 520px;
  animation: 0.3s ease 0s 1 normal none running fadeOpacityIn;
}
.menu > .card {
  flex: 1 1 70%;
}
.menu > .user {
  flex: 1 1 30%;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* max-height: 400px; */
  background: #a5a5ad;
  border-radius: 22px;
  border: 2px solid;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px;
}

.card > .card_tools {
  flex: 1 1 75%;
}
.card > .card_ads {
  flex: 1 1 25%;
}
.card .card_ads {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.card_ads .img_ads {
  margin: 15px auto 0;
  height: 85%;
  width: 90%;
  border-radius: 10px;
  background-image: url(https://static.upland.me/banners/store2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card .card_tools {
  position: relative;
  margin: 0 auto 15px;
  border: 2px solid;
  border-radius: 10px;
  background: #878791;
  width: 90%;
  height: 68%;
}

.user {
  background: #a5a5ad;
  border-radius: 22px;
  border: 2px solid;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px;
}
